<%- include("header") -%>
    <div class="container">

        <Br />
        <% if (typeof error !== "undefined") { %> 
            <div class="alert alert-danger" role="alert">
                <%= error %> 
            </div>
        <% } %> 
        
        <Br /><Br />

        <div class="row">
            <div class="col-lg-12" style="text-align: center;">
                <h1>The plane database</h1>
            </div>
        </div>

        <Br /><Br />
        <hr />
        <Br />

        <div class="row">
            <div class="col-lg-12" style="text-align: center;">
                <h4>Registration</h4>
            </div>
        </div>

        <Br />

        <div class="row">
            <div class="col-lg-5"></div>

            <div class="col-lg-2" style="text-align: center;">
                <form method="post">
                    <div class="mb-3">
                        <div class="col-lg-12">
                            <input type="email" class="form-control" id="Email" aria-describedby="Email" name="Email"
                                <% if (typeof Email !== "undefined") {%> 
                                    value="<%= Email %> "
                                <% } %> 
                                placeholder="Email" style="text-align: center">
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="col-lg-12">
                            <input type="text" class="form-control" id="Username" aria-describedby="Username" name="Username" 
                                <% if (typeof Username !== "undefined") {%> 
                                    value="<%= Username %> "
                                <% } %> 
                                placeholder="Username" style="text-align: center">
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="col-lg-12">
                            <input type="password" class="form-control" id="Password" placeholder="Password" name="Password"
                                <% if (typeof Password !== "undefined") {%> 
                                    value="<%= Password %> "
                                <% } %> 
                                style="text-align: center">
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="col-lg-12">
                            <input type="password" class="form-control" id="PasswordCkeck" placeholder="Password again" name="PasswordCheck"
                                <% if (typeof PasswordCkeck !== "undefined") {%> 
                                    value="<%= PasswordCkeck %> "
                                <% } %>     
                                style="text-align: center">
                        </div>
                    </div>
                    <!--div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="AdminCheck" name="AdminCheck">
                        <label class="form-check-label" for="AdminCheck">as administrator</label>
                    </div-->
                    <Br />
                    <input type="submit" class="btn btn-primary" value="Registration"/>
                </form>
            </div>

        </div>

        <Br />
        <hr /><Br />

        <div class="row">
            <div class="col-lg-12" style="text-align: center;">
                <a class="btn btn-link btn-sm" href="/">Back to login</a>
            </div>
        </div>

        <Br /><Br />

    </div>
<%- include("footer") -%> 